.product{
    flex: 4;
    padding: 20px;
}
.productTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productTitle{
    font-weight: 600;
}
.productAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: rgb(0, 128, 68);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.productTop{
    display: flex;
}
.productTopLeft,
.productTopRight{
    flex: 1;
}
.productTopLeft{
    width: 100%;
    height: 100%;
}
.productTopRight{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 13px -8px #000000; 
    box-shadow: 0px 0px 13px -8px #000000;
}
.productInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.productInfoTop{
    display: flex;
    align-items: center;
}
.productName{
    font-weight: 600;
}
.productInfoBottom{
    margin-top: 10px;
}
.productInfoItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productInfoKey{
    font-weight: 300;
}
.productBottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 13px -8px #000000; 
    box-shadow: 0px 0px 13px -8px #000000;
}
.productForm{
    display: flex;
    justify-content: space-between;
}
.productFormLeft{
    display: flex;
    flex-direction: column;
}
.productFormLeft>label{
    margin-bottom: 10px;
    color: #333;
}
.productFormLeft>input{
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
    outline: none;
    width: 250px;
}
.productFormLeft>select{
    margin-bottom: 10px;
}
.productUploadImg{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.productFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productUpload{
    display: flex;
    align-items: center;
}
.productButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}